/* Import Poppins Regular */
@font-face {
  font-family: 'Poppins';
  src: url('../assets/fonts/Poppins-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

/* Import Poppins Bold */
@font-face {
  font-family: 'Poppins';
  src: url('../assets/fonts/Poppins-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

/* Import Poppins Italic */
@font-face {
  font-family: 'Poppins';
  src: url('../assets/fonts/Poppins-Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

/* Import Poppins Bold Italic */
@font-face {
  font-family: 'Poppins';
  src: url('../assets/fonts/Poppins-BoldItalic.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
}

/* Import Poppins Extra Bold */
@font-face {
  font-family: 'Poppins';
  src: url('../assets/fonts/Poppins-ExtraBold.ttf') format('truetype');
  font-weight: 800; /* You can adjust this as needed */
  font-style: normal;
}

/* Import Poppins Extra Bold Italic */
@font-face {
  font-family: 'Poppins';
  src: url('../assets/fonts/Poppins-ExtraBoldItalic.ttf') format('truetype');
  font-weight: 800; /* You can adjust this as needed */
  font-style: italic;
}
