@import url('./fonts.css');

:root {
  --clr-prim-purple: hsl(259, 100%, 65%);
  --clr-prim-light-red: hsl(0, 100%, 67%);
  --clr-neut-white: hsl(0, 0%, 100%);
  --clr-neut-off-white: hsl(0, 0%, 94%);
  --clr-neut-light-grey: hsl(0, 0%, 86%);
  --clr-neut-smokey-grey: hsl(0, 1%, 44%);
  --clr-neut-off-black: hsl(0, 0%, 8%);

  --sz-mobile: 375px;
  --sz-desktop: 1440px;
}

body {
  margin: 0;
}
